.App{
  background-color: rgba(201, 217, 222, 0.708);
  color:black;
  display: flex;
  flex-direction: row;
  padding-left:35%;
  height:99.9dvh;
}

input{
  padding:5px;
  border: 1px solid black;
  margin-bottom:5%;
}

button{
  padding: 5px;
  border: 1px solid black;
  background-color: rgba(201, 217, 222, 0.708);
}


input, button{
  width:200px
}